<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проблемы города</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <a href="{% url 'city:index_list' %}">
                <li>Главная</li>
            </a>
            <a href="{% url 'city:create_problem' %}">
                <li>Добавить проблему</li>
            </a>
            <a href="{% url 'city:user_profile' %}">
                <li>Профиль</li>
            </a>
            <a href="{% url 'city:logout' %}">
                <li>Выйти</li>
            </a>
        </ul>
    </nav>
</header>
<main>
    <div>{% block content %}{% endblock %}</div>
</main>
<footer>
    <p>Добавил проблему - решил проблему</p>
</footer>
</body>
</html>