{% extends "city_problems/main_template.html" %}

{% block content %}
    <article>
        <h2><a href="{% url 'city:problem_detail' problem.id %}">{{ problem.short_name }}</a></h2>
        <p>{{ problem.description }}</p>
        <img src="{{ MEDIA_URL }}{{ problem.image }}" style="width: 20%; height: 20%">
        <p>{{ problem.creation_date }}</p>
        <p>{{ problem.status }}</p>
        <p><a href="{% url 'city:problem_update' problem.id %}">Изменить</a>
            <a href="{% url 'city:problem_delete' problem.id %}">Удалить</a></p>
    </article>

{% endblock %}