{% extends 'base.html' %}

{% block content %}
<div class="col-8">
<form method="post" enctype=multipart/form-data>
<div class="form-group" align="left">
    <label for="shortname"  align="left">Название</label>
    <input name="shortname" class="form-control py-2" id="shortname" required>
</div>
    <div class="form-group" align="left">
    <label for="description"  align="left">Описание</label>
    <input name="description" class="form-control py-2" id="description" required>
    </div>
<div class="form-group" align="left">
    <label for="file" align="left">Фото</label>
    <input type="file" class="form-control py-2" name="file">
</div>
    <input type="submit" class="form-control py-2" value="Добавить">
</form>
    </div>
{% endblock %}