{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}


            {% for problem in problems %}
<div class="row py-3">
    <div class="col">
        <div class="card sm-2 shadow-sm">
            <div class="col sm-4">
                 <a href="{{url_for('problem_page',problem_id=problem.id)}}">
                     <img src="/uploads/{{problem.image}}" width="100%" height="100%"></a>
                <div class="container">
                    <div class="row">
                        <div class="col-5" align="left">
                            <a href="{{url_for('upvote',problem_id=problem.id)}}"><img src="/uploads/like.png"></a>
                            <img src="/uploads/message.jpg">
                            <img src="/uploads/map.png"  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                         <div class="collapse" id="collapseExample">
  <div class="card card-body">
   <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3601ccf56998973f5b9d9b829e7ceec1caca42eb6b9db4b5d8e495756af61d43&amp;width=600&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
</div>
                        </div>
                        <div class="col-md-4 offset-md-3" align="right">
                            <span style=""  class="text">Голосов: {{problem.votes}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text" align="left">
                    <a href="{{url_for('problem_page',problem_id=problem.id)}}">{{problem.short_name}}</a></p>
                <p align="left">{{problem.description[:130]}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}




{% endblock %}
