{% extends 'base.html' %}

{% block content %}

<div class="card">
  <div class="card-header">
    {{problem.shortname}}
  </div>
  <div class="card-body" align="left">
    <h5 class="card-title" >Голоса - {{problem.votes}}</h5>
    <p class="card-text"><img src="/uploads/{{problem.image}}" class="img-fluid py-3 rounded float-left ">{{problem.description}}</p>
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3601ccf56998973f5b9d9b829e7ceec1caca42eb6b9db4b5d8e495756af61d43&amp;width=360&amp;height=250&amp;lang=ru_RU&amp;scroll=true"></script>

    <a href="/" class="btn btn-primary py-2" style="margin-top:3px;">На главную</a>
  </div>
</div>
{% endblock %}
